*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans+Condensed:wght@300&display=swap');

@media  only screen and(max) {

    
}



body{
    font-family: sans-serif;
    font-family: 'Aleo', serif;
     
}
 
.body{
    background-color: #f9f4f4;
}



/* Navbar Css */

  .login-button button{
   border: 1px solid #4CAF50 ;
    border-radius: 5px;
    padding: 2px;
     
  }

  .login-button button i{
    font-weight: 600;
    margin-left: 5px;
    
   }


  .login-button button span{
    
    margin-left: 5px;
    
   }
 


  .nav-div{
    height: 50px;
    width: 800px;
    background-color: white;
    margin-left: 100px;
  }

  .search-bar{
    margin: 11px;
    width: 700px;
    border: 1px solid #4CAF50;
    border-radius: 3px;
  }
  

  .nav-div button{
    height: 30px;
    width: 70px;
    background-color: black;
    border-radius: 3px;
    border: none;
  }
  .nav-div button i{
    color: white;
     
  }


  .manue-bar{
    height: 40px;
    background-color: #4CAF50;
  }




  /*-------------------------------- Navbar Css --------------------------------*/
   
  