*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans+Condensed:wght@300&display=swap');

@media  only screen and(max) {

    
}



body{
    font-family: sans-serif;
    font-family: 'Aleo', serif;
     
}
 
.body{
    background-color: #f9f4f4;
}



/* Navbar Css */


.search-bar-back {
    background-color: white;
    height: 60px;
    padding: 4px;
    margin-top: 6px;
    
}
.search-bar2{
    margin-top: 8px;
    padding-left: 7px;
    padding-right: 7px;
}


.login-button button{
    width: 100px;

}

.login-button button{
    border: 1px solid #4CAF50 ;
     border-radius: 5px;
     padding: 2px;
      
   }
 
   .login-button button i{
     font-weight: 600;
     margin-left: 5px;
     
    }
 
 
   .login-button button span{
     
     margin-left: 5px;
     
    }
  
 
    .nav-div button{
        height: 35px;
        width: 70px;
        background-color: black;
        border-radius: 5px;
        border: none;
        margin-top: 1px;
      }
      .nav-div button i{
        color: white;
         
      }

      .login-button button{
        border: 1px solid #4CAF50 ;
         border-radius: 5px;
         padding: 2px;
         margin-top: 8px;
         height: 35px;
         width: 100px;
         background-color: white;
          
       }


       .login-button button:hover{
        color:white;
        background-color: #4CAF50;
        transition: 0.5s;
       }
     
       .login-button button i{
         font-weight: 600;
         margin-left: 5px;
         
        }
     
     
       .login-button button span{
         
         margin-left: 5px;
         
        }


        .log-in-back{
            background-color: white;
            height: 60px;
            padding: 4px;
            margin-top: 20px;
        }

        .manue-bar{
            height: 45px;
            background-color: #4CAF50;
          }

   





  /*-------------------------------- Navbar Css --------------------------------*/
   
  







    /*-------------------------------- Manue start --------------------------------*/



  .manue-bar-design{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    
    


  }

 

.manue-bar-design a i {
    color: white;
}
 
.manue-home a{
    margin-top:10px;
}


.nabar-link{
  display: flex;
  background-color: #4CAF50;
  height: 45px;
   
   
}



.nabar-link div{
  
  display: flex;
  width: 100px;
  text-align: center;
  justify-content: center;

}

.nabar-link div:hover{
  background-color: #3e6a40;
  height: 45px;
}


.nabar-link div a{
  
  text-decoration: none;
  font-weight: 700;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  margin-left: 5px;
  padding: 0px;
   
}
.nabar-link div a i{
  margin: 3px;
}

 













      /*-------------------------------- Manue end --------------------------------*/











         /*-------------------------------- Latest tutorial start--------------------------------*/



      .latest-tutorial-headline i{
        font-size: 30px;
        color: #4CAF50;

      }

      .latest-tutorial-headline {
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        
      
      }

      .latest-tutorial-headline span {
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        color: #e83a59;
        font-weight: 700;
      
      }

      .latest-tutorial-div0{
       
         
      }
      


.latest-tutorial-div div{
  width:  150px;
  height: 150px;
   
}

 

.latest-tutorial-div div img{
  
 margin-top: 30px;
   
}

 
.shadow p{
  color: #4CAF50;
  margin-top: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
   
}

.text-decoration-p a{
  text-decoration: none !important;
}





            /*-------------------------------- Latest tutorial End--------------------------------*/











            /*-------------------------------- Trending tutorial start--------------------------------*/



















                      /*-------------------------------- Trending  tutorial End--------------------------------*/